[Unit]
Description=Boot time mfm processing
Requires=t2-splash-screen.service
After=t2-splash-screen.service

[Service]
Type=simple
#mfm.sh installed by ../../apps/mfm/
ExecStart=/opt/scripts/t2/mfm.sh

[Install]
WantedBy=multi-user.target
