[Unit]
Description=T2 hardware setup
After=generic-board-startup.service

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/opt/scripts/t2/t2-startup.sh

[Install]
WantedBy=multi-user.target
