[Unit]
Description=Boot time cdm processing
Requires=mfm-run.service
After=mfm-run.service

[Service]
Type=simple
#cdm.sh installed by ../../apps/cdm/
ExecStart=/opt/scripts/t2/cdm.sh

[Install]
WantedBy=multi-user.target
